--color-btn-primary-bg: linear-gradient(93deg, #53b2fe, #065af3);
--color-btn-primary-border: #008cff;
--color-btn-primary-color: #008cff;
--color-btn-primary-bg2: #CCE8FF;
--color-btn-updateBtn-bg: #008cff;
--color-text-primary: #000;
--color-btn-secondary-bg: #ffffff;
--color-btn-secondary-text: #065af3;
--color-btn-top-nav-bg: linear-gradient(93deg, #53b2fe, #065af3);
--color-btn-top-nav-text: #ffffff;
--color-label-primary: #008cff;
--color-link-secondary: #008cff;
--color-top-nav: #0a223d;
--color-overlay-top-nav-form: rgba(255, 255, 255, 0.1);
--color-body-bg: #fff;
--color-body-bg-listing: #f2f2f2;
--color-explore-links: #FFFFFF;
--color-top-nav-input: #ffffff;
--font-size-base-lg: 20px;
--font-size-base-md: 16px;
--font-size-base-sm: 12px;
--font-size-base-xl: 24px;
--font-size-btn-xl: 20px;
--font-size-btn-lg: 18px;
--font-size-btn-md: 16px;
--font-size-btn-sm: 12px;
--font-size-heading: 32px;
--font-size-sub-heading: 16px;
--font-size-page-header: 40px;
--font-weight: 900;
--radius-btn-top-nav: 34px;
--radius-btn-primary: 34px;
--radius-btn-secondary: 34px;
--card-package-type-font-size: 10px;
--card-package-name-font-size: 16px;
--card-dest-info-font-size: 18px;
--card-d-n-info-color: #ffffff;
--card-d-n-info-bg-color: #000000;
--card-includes-font-size: 12px;
--card-sight-seeing-font-size: 14px;
--card-actual-price-font-size: 12px;
--card-current-price-font-size: 22px;
--card-bottom-info-font-size: 12px;
--card-badge-font-size: 10px;
--card-badge-color: #BB8A11;
--card-badge-bg-color: #FFEDD1;
--topnav-input-wrap-border-color: none;
--details-left-section-box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1);
--details-main-nav-font-size: 16px;
--details-main-nav-font-weight: 900;